.nav {
    display: flex;
    color: #fff;
    background-color: #1d4ed8;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
    align-items: center;

}

.links li a {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    color: #fff;
}

